@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    background: #f9fbfd;
    font-family: 'Lato', sans-serif;
}

.intro-div {
     /* margin-top: 5%; */
     background: #180d5b;
   
}


.wrapper-text{
padding-top: 20%;
}

.passwordArea {
    height: 10%;
    margin-top: 1%;
    padding: 2%;
    border-top: 1px solid #eee;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(219,219,219,1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(219,219,219,1);
    box-shadow: 4px 4px 5px 0px rgba(219,219,219,1);
}


.passwordArea input  {
    border: none;
    outline: 0!important;
    height: 60px;
    font-size: 1.9em;
    color: rgb(8, 13, 44);
    font-weight: bold;
}
.passwordArea input:focus{
    border:none;
    box-shadow: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   -moz-transition: none;
   -webkit-transition: none;
}

.btn {
    border:none;
    box-shadow: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   -moz-transition: none;
   -webkit-transition: none;  
}
.ControlArea {
    margin-top: 1%;
    border: 1px solid #eee;
    height: 10%;
    padding: 2% 3%;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(219,219,219,1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(219,219,219,1);
    box-shadow: 4px 4px 5px 0px rgba(219,219,219,1);
}

.password-type{
    padding: 2%;
    
}
.password-type .custom-radio,
.password-type .custom-checkbox{
     margin-top: 8%;
}  

.password-type .custom-radio .custom-control-label,
.password-type .custom-checkbox .custom-control-label{
   font-weight:400;
   font-size: 1.2em;
} 

footer{
 margin-top: 1%;
}
